{% extends "_layouts/cp" %}
{% do view.registerAssetBundle("clearbold\\cmlists\\CmListsBundle") %}
{% set title = "Campaign Monitor Subscriber Lists"|t('app') %}

{% block content %}
    <h2>Subscriber Lists</h2>
{% set response = craft.cmLists.getLists() %}
{% if response %}

{% if response.success %}

{% if response.statusCode == 200 %}
    <div class="clearbold-table clearbold-table-big">
        <div class="clearbold-table-row clearbold-table-header">
            <span>List</span>
            <span>Today</span>
            <span>Yesterday</span>
            <span>Total Active Subscribers</span>
            <span>Total Unsubscribes</span>
        </div>
    {% for list in response.body %}
        <div class="clearbold-table-row">
            <span><a href="{{ url('cm-lists/' ~ list.ListID) }}">{{ list.Name }}</a></span>
{% set responseStats = craft.cmLists.getListStats(list.ListID) %}
{% if responseStats %}

{% if responseStats.success %}

{% if responseStats.statusCode == 200 %}
            <span><span class="clearbold-table-label">Today: </span>{{ responseStats.body.NewActiveSubscribersToday }}</span>
            <span><span class="clearbold-table-label">Yesterday: </span>{{ responseStats.body.NewActiveSubscribersYesterday }}</span>
            <span><span class="clearbold-table-label">Total Active Subscribers: </span>{{ responseStats.body.TotalActiveSubscribers }}</span>
            <span><span class="clearbold-table-label">Total Unsubscribes: </span>{{ responseStats.body.TotalUnsubscribes }}</span>
{% else %}
            <span></span>
            <span></span>
{% endif %}
{% else %}
            <span></span>
            <span></span>
{% endif %}
{% else %}
            <span></span>
            <span></span>
{% endif %}
        </div>
    {% endfor %}
    </div>
{% else %}

    <p>Error: Status code {{ response.statusCode }}</p>

{% endif %}
{% else %}

    <p>Error: {{ response.reason }}</p>

{% endif %}
{% else %}

    <p>Error: {{ response.reason }}</p>

{% endif %}

{% endblock %}